{% extends "layout.html" %}
{% block content %}

<style>
  .artistTopSearch {
      display: flex;
      align-items: center;
      justify-content: start;
  }

  .artistTopSearch button {
      margin-left: 20px;
      transform: translateY(-5px);
  }
</style>

<script type="text/javascript" src="{{ url_for('static', filename = 'artist/artist.js') }}"></script>

<div class="artistBox">
    <div class="artistTopSearch">
        <h3>Artist Custom Search</h2>
        <button type="button" class="btn btn-primary" id="artistAllSearch">Search All</button>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <hr>
    {% block content_artist %}
    {% endblock %}
    
</div>

{% endblock %}