{% extends "layout.html" %}
{% block content %}

<style>
    .songTopSearch {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .songTopSearch button {
        margin-left: 20px;
        transform: translateY(-5px);
    }

    .number {
        font-weight: bold;
    }

    #other button {
        width: 300px;
    }
</style>

<script type="text/javascript" src="{{ url_for('static', filename = 'song/song.js') }}"></script>

<div class="songBox">
    <div class="songTopSearch">
        <h3>Song Custom Search</h2>
        <button type="button" class="btn btn-primary" id="songAllSearch">Search All</button>
    </div>

    <br>
    <br>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Find Song</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Add Song</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false">Delete Song</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="other-tab" data-bs-toggle="tab" data-bs-target="#other" type="button"
                role="tab" aria-controls="other" aria-selected="false">Advanced Searching</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- search song function -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <br>
            <form action="/song/find" method="POST" class="row">
                <div class="col-md-4">
                    <label for="name" class="form-label">Song Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="col-md-4">
                    <label for="artist" class="form-label">Artist Name</label>
                    <input type="text" class="form-control" id="artist" name="artist">
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <br>
                    <label for="songPopularityFind" class="form-label">Popularity(At least)</label>
                    <input type="range" class="form-range" id="songPopularityFind" name="songPopularityFind" value="0">
                    <span id="songPopularityValFind" class="number">0</span>
                </div>
                <div class="col-md-4">
                    <br>
                    <label for="songDancibilityFind" class="form-label">Dancibility(At least)</label>
                    <input type="range" class="form-range" min="0" max="1" step="0.001" id="songDancibilityFind" name="songDancibilityFind" value="0">
                    <span id="songDancibilityValFind" class="number">0</span>
                </div>
                <div class="col-md-4">
                    <br>
                    <label for="songEnergyFind" class="form-label">Energy(At least)</label>
                    <input type="range" class="form-range" min="0" max="1" step="0.001" id="songEnergyFind" name="songEnergyFind" value="0">
                    <span id="songEnergyValFind" class="number">0</span>
                </div>
                <div class="col-md-4">
                    <br>
                    <label for="songSpeechinessFind" class="form-label">Speechiness(At least)</label>
                    <input type="range" class="form-range" min="0" max="0.2" step="0.0001" id="songSpeechinessFind" name="songSpeechinessFind" value="0">
                    <span id="songSpeechinessValFind" class="number">0</span>
                </div>
                <div class="col-md-4">
                    <br>
                    <label for="songLivenessFind" class="form-label">Liveness(At least)</label>
                    <input type="range" class="form-range" min="0" max="1" step="0.001" id="songLivenessFind" name="songLivenessFind" value="0">
                    <span id="songLivenessValFind" class="number">0</span>
                </div>
                <div class="col-md-4">
                    <br>
                    <label for="songTempoFind" class="form-label">Tempo(At least)</label>
                    <input type="range" class="form-range" min="0" max="200" id="songTempoFind" name="songTempoFind" value="0">
                    <span id="songTempoValFind" class="number">0</span>
                </div>
                <div class="col-md-12">
                    <br>
                    <button type="submit" class="btn btn-primary">Find</button>
                </div>
            </form>
        </div>
        <!-- add song function -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <br>
            <form action="/song/add" method="POST" class="row needs-validation" novalidate>
                <div class="col-md-4">
                    <label for="name" class="form-label">Song Name(Case Sensitive)</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                    <div class="invalid-feedback">Please input song name.</div>
                </div>
                <div class="col-md-4">
                    <label for="artist" class="form-label">Artist Name(Case Insensitive)</label>
                    <input type="text" class="form-control" id="artist" name="artist" required>
                    <div class="invalid-feedback">Please input artist name of the song.</div>
                </div>
                <div class="col-md-12">
                    <br>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
        <!-- delete song function -->
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <br>
            <form action="/song/delete" method="POST" class="row needs-validation" novalidate>
                <div class="col-md-4">
                    <label for="name" class="form-label">Song Name(Case Sensitive)</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                    <div class="invalid-feedback">Please input song name.</div>
                </div>
                <div class="col-md-4">
                    <label for="artist" class="form-label">Artist Name(Case Insensitive)</label>
                    <input type="text" class="form-control" id="artist" name="artist" required>
                    <div class="invalid-feedback">Please input artist name of the song.</div>
                </div>
                <div class="col-md-12">
                    <br>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
        <!-- advanced songs searching -->
        <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
            <div class="row">
                <div class="col-md-4">
                    <br>
                    <button type="button" class="btn btn-primary" id="songMostPopularSearch">Most Popular Songs</button>
                </div>
                <div class="col-md-4">
                    <br>
                    <button type="button" class="btn btn-primary" id="songMostDancibilitySearch">Most Dancibility Songs</button>
                </div>
                <div class="col-md-4">
                    <br>
                    <button type="button" class="btn btn-primary" id="songMostEnergySearch">Most Energy Songs</button>
                </div>
                <div class="col-md-4">
                    <br>
                    <button type="button" class="btn btn-primary" id="songMostSpeechinessSearch">Most Speechiness Songs</button>
                </div>
                <div class="col-md-4">
                    <br>
                    <button type="button" class="btn btn-primary" id="songMostLivenessSearch">Most Liveness Songs</button>
                </div>
                <div class="col-md-4">
                    <br>
                    <button type="button" class="btn btn-primary" id="songMostTempoSearch">Most Tempo Songs</button>
                </div>
            </div>
        </div>
    </div>

    <hr>
    {% block content_song %}
    {% endblock %}
    
</div>

{% endblock %}