{% extends "layout.html" %}
{% block content %}

<style>
    .albumTopSearch {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .albumTopSearch button {
        margin-left: 20px;
        transform: translateY(-5px);
    }
</style>

<script type="text/javascript" src="{{ url_for('static', filename = 'album.js') }}"></script>
<script>
  let data = {{data|tojson}}
  console.log('album', data)
</script>

<div class="albumBox">
    <div class="albumTopSearch">
        <h3>Album Custom Search</h2>
        <button type="button" class="btn btn-primary" id="albumAllSearch">Search All</button>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="albumOverview">
        <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <!-- <th scope="col">Album ID</th> -->
                <th scope="col">Album Name</th>
                <th scope="col">Release Time</th>
                <th scope="col">Popularity</th>
                <!-- <th scope="col">Artist ID</th> -->
              </tr>
            </thead>
            <tbody id="albumOverviewTbody">

            </tbody>
          </table>
    </div>
</div>

{% endblock %}