{% extends "layout.html" %}
{% block content %}

<style>
    .listenerTopSearch {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .listenerTopSearch button {
        margin-left: 20px;
        transform: translateY(-5px);
    }
</style>

<script type="text/javascript" src="{{ url_for('static', filename = 'listener/listener.js') }}"></script>

<div class="listenerBox">
    <div class="listenerTopSearch">
        <h3>Listener Custom Search</h2>
        <button type="button" class="btn btn-primary" id="listenerAllSearch">Search All</button>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <hr>
    {% block content_listener %}
    {% endblock %}
</div>

{% endblock %}