{% extends "layout.html" %}
{% block content %}

<style>
    .tracklistTopSearch {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .tracklistTopSearch button {
        margin-left: 20px;
        transform: translateY(-5px);
    }
</style>

<script type="text/javascript" src="{{ url_for('static', filename = 'tracklist/tracklist.js') }}"></script>

<div class="tracklistBox">
    <div class="tracklistTopSearch">
        <h3>Tracklist Custom Search</h2>
        <button type="button" class="btn btn-primary" id="tracklistAllSearch">Search All</button>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <hr>
    {% block content_tracklist %}
    {% endblock %}
    
</div>

{% endblock %}