{% extends "layout.html" %}
{% block content %}

<style>
    .tracklistTopSearch {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .tracklistTopSearch button {
        margin-left: 20px;
        transform: translateY(-5px);
    }

    #rangeval {
        font-weight: bold;
    }
</style>

<script type="text/javascript" src="{{ url_for('static', filename = 'tracklist/tracklist.js') }}"></script>

<div class="tracklistBox">
    <div class="tracklistTopSearch">
        <h3>Tracklist Custom Search</h2>
        <button type="button" class="btn btn-primary" id="tracklistAllSearch">Search All</button>
    </div>

    <br>
    <br>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Find Tracklist</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Add Tracklist</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false">Delete Tracklist</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="other-tab" data-bs-toggle="tab" data-bs-target="#other" type="button"
                role="tab" aria-controls="other" aria-selected="false">Advanced Searching</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- search Tracklist function -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <br>
            <form action="/tracklist/find" method="POST" class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label for="title" class="form-label">Tracklist Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label for="creator" class="form-label">Listener Creator</label>
                        <input type="text" class="form-control" id="creator" name="creator">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label for="popularity" class="form-label">Tracklist Popularity(At least)</label>
                        <input type="text" class="form-control" id="popularity" name="popularity">
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                    <button type="submit" class="btn btn-primary">Find</button>
                </div>
            </form>
        </div>
        <!-- add Tracklist function -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <br>
            <form action="/tracklist/add" method="POST" class="row needs-validation" novalidate>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label for="creator" class="form-label">Tracklist Creator Listener(Case Sensitive)</label>
                        <input type="text" class="form-control" id="creator" name="creator" required>
                        <div class="invalid-feedback">Please choose a creator.</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label for="title" class="form-label">Tracklist Title(Case Sensitive)</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                        <div class="invalid-feedback">Please input the tracklist.</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label for="popularity" class="form-label">Tracklist Popularity(0 - 100)</label>
                        <input type="range" class="form-range" id="popularity" name="popularity" value="0">
                        <span id="rangeval">0</span>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <br>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
        <!-- delete Tracklist function -->
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <br>
            <form action="/tracklist/delete" method="POST" class="row needs-validation" novalidate>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label for="name" class="form-label">Tracklist Name(Case Sensitive)</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                        <div class="invalid-feedback">Please choose a tracklist.</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label for="creator" class="form-label">Creator Name(Case Insensitive)</label>
                        <input type="text" class="form-control" id="creator" name="creator" required>
                        <div class="invalid-feedback">Please input a listener name.</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
        <!-- most popular tracklists -->
        <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
            <div class="col-md-12">
                <br>
                <button type="button" class="btn btn-primary" id="tracklistMostPopularSearch">Most Popular Tracklists</button>
            </div>
        </div>
    </div>

    <br>
    <hr>
    {% block content_tracklist %}
    {% endblock %}
    
</div>

{% endblock %}