{% extends "layout.html" %}
{% block content %}

<style>
    .albumTopSearch {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .albumTopSearch button {
        margin-left: 20px;
        transform: translateY(-5px);
    }
</style>

<script type="text/javascript" src="{{ url_for('static', filename = 'album/album.js') }}"></script>

<div class="albumBox">
    <div class="albumTopSearch">
        <h3>Album Custom Search</h2>
        <button type="button" class="btn btn-primary" id="albumAllSearch">Search All</button>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <hr>
    {% block content_album %}
    {% endblock %}
    
</div>

{% endblock %}